<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="UTF-8" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

        <style>
            body
            {
                padding: 0.5em;
            }

            h1
            {
                margin-bottom: 0.5em;
            }

            body > div:not(:last-of-type)
            {
                margin-bottom: 1em;
            }
        </style>

        <title>Naruto Image Classifier | Predict</title>
    </head>

    <body>
        <h1>Naruto Image Classifier</h1>

        <div>
            <!-- display the predicted class -->
        </div>

        <div>
            <!-- create a button link to go back to index.html -->
        </div>
    </body>
</html>
